absl-py==0.9.0
astor==0.8.1
atomicwrites==1.3.0
attrs==19.1.0
backcall==0.1.0
bcolz==1.2.1
bert-serving-client==1.9.1
bert-serving-server==1.9.1
bleach==3.1.0
blis==0.2.4
boto==2.49.0
boto3==1.9.253
botocore==1.12.253
certifi==2019.3.9
cffi==1.12.3
chainer==6.3.0
chardet==3.0.4
Click==7.0
colorama==0.4.1
context2vec==1.0
cupy==6.3.0
cycler==0.10.0
cymem==2.0.3
decorator==4.4.0
defusedxml==0.5.0
docutils==0.15.2
drqa==0.2.0
en-core-web-sm==2.1.0
entrypoints==0.3
fastrlock==0.4
fasttext==0.9.1
fever-scorer==0.0.0
filelock==3.0.12
future==0.17.1
gast==0.3.2
gensim==3.8.1
gitdb2==2.0.5
GitPython==2.1.11
google-pasta==0.1.8
GPUtil==1.4.0
grpcio==1.26.0
h5py==2.10.0
idna==2.8
imageio==2.8.0
importlib-metadata==0.23
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.3
Jinja2==2.10
jmespath==0.9.4
joblib==1.2.0
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.0.1
lxml==4.4.2
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mistune==0.8.4
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
more-itertools==7.2.0
murmurhash==1.0.2
nbconvert==5.4.1
nbdime==1.0.5
nbformat==4.4.0
networkx==2.4
nltk==3.4.5
notebook==5.7.8
numpy==1.16.2
olefile==0.46
packaging==19.2
pandas==1.0.1
pandocfilters==1.4.2
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
Pillow==6.0.0
plac==0.9.6
pluggy==0.13.0
pprint==0.1
preshed==2.0.1
prettytable==0.7.2
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.7.1
ptyprocess==0.6.0
py==1.8.0
pybind11==2.4.3
pycparser==2.19
Pygments==2.3.1
pyparsing==2.3.1
pyrsistent==0.14.11
pytest==5.2.2
python-dateutil==2.8.0
pytorch-pretrained-bert==0.5.1
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3
pyzmq==18.0.1
qtconsole==4.4.3
regex==2019.8.19
requests==2.21.0
s3transfer==0.2.1
sacremoses==0.0.35
scikit-image==0.17.2
scikit-learn==0.21.3
scipy==1.2.1
seaborn==0.10.1
Send2Trash==1.5.0
sentencepiece==0.1.83
six==1.12.0
sklearn==0.0
smart-open==1.8.4
smmap2==2.0.5
spacy==2.1.3
srsly==1.0.1
tensorboard==1.14.0
tensorboardX==1.9
#tensorflow-estimator==1.14.0
#tensorflow-gpu==1.14.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
thinc==7.0.8
tifffile==2020.6.3
torch==1.3.0
torchsummary==1.5.1
torchtext==0.4.0
torchvision==0.4.1a0+d94043a
tornado==6.0.2
tqdm==4.30.0
traitlets==4.3.2
transformers==2.1.1
typing==3.6.6
typing-extensions==3.6.6
urllib3==1.24.1
wasabi==0.6.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.4.2
wrapt==1.11.2
zipp==0.6.0
